/* Styles go here */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app {
    background-color: #161616;
    min-height: 100vh;
    min-width: 100vw;
    width: max-content;
    font-family: 'Poppins', sans-serif !important;
}

.logo {
    width: 100px;
    flex-direction: row;
}

.choose-button {
    background: linear-gradient(80.51deg, #983C94 0%, #DC3049 46.27%, #ED944B 98.05%);
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    margin-top: 45px;
    cursor: pointer;
}

.chz {
    display: none;
}

#file-chosen {
    color: white;
    margin-left: 20px;
}

.form-control {
    background-color: transparent;
    border-color: #DD3749;
    margin: 25px 0 35px -10%;
    color: white !important;
    padding: 10px 20px;
    resize: none;
    border-radius: 15px;
    width: 120%;
}

.form-control:focus {
    background-color: transparent;
    border-color: #ED944B;
}

.upload-button {
    background: linear-gradient(80.51deg, #983C94 0%, #DC3049 46.27%, #ED944B 98.05%);
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    width: min-content;
    border:none
}

.table_heading {
    background: linear-gradient(80.51deg, #983C94 0%, #DC3049 66.53%, #ED944B 98.05%, #ED944B 98.05%);
}
table{
    color:white
}

th,td {
    padding: 10px 20px !important;
    border-right: 1px solid #cea2a2;
}
.link{
    padding: 5px 7px 5px 7px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(80.51deg, #983C94 0%, #DC3049 66.53%, #ED944B 98.05%, #ED944B 98.05%);
}
